// 侧边栏样式

// 右侧文章标题导航栏
//a.sidebar-link {
//  font-size: 10px !important;
//}
// 右侧文章标题导航栏文字
.sub-sidebar-wrapper li a {
  line-height: 1 !important;
}

// 默认值
$accentColor = #3eaf7c                      // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色